# Unreal Engine
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
/Build/

# Accidental files
exit

# Visual Studio / IDE
.vs/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
.vsconfig

# macOS
*.xcodeproj
*.xcworkspace

# Other
*.log
*.tmp
*.bak
*.cache